body{
  background-color: #ffffff;
  color: #000000;
}

.welcome{
    #display: visible;
    padding-top: 20rem;
    padding-bottom: 20rem;
    text-align: center;
    justify-content:center;
    white-space: pre-line;
}
.login{
    #display: flex;
    padding-top: 10rem;
    align-items:center;
    justify-content: center;
    white-space: pre-line;
    text-align: center;
}
.signBut{
    display: flex;
    align-items:center;
    justify-content: center;
    padding-bottom: 15rem;
}
.scrollBut{
    display:flex;
}
#scroll{

    display: inline;
    position: absolute;
    top: 90%;
    right: 53%;
    left: 47%;
    width: 4em;
    height: 4em;
}


input,label{
  display: block;
  margin-right: auto;
  margin-left: auto;
}

